<!--<div class="paging">
  <div class"pagebtn left"></div>
  <span class="current"></span> of <span class="total"></span>
  <div class="pagebtn right"></div>
</div>-->
<table>
  <tr>
    <th class="datecreated">Date Created</th>
    <th class="servicename">Service Name</th>
    <th class="image">Image</th>
    <th class="description">Description</th>
    <th class="location">Location</th>
    <th class="status">Status</th>
  </tr>
  {{#each serviceRequests}}
  <tr>
    <td>{{this.requested_datetime}}</td>
    <td>{{this.service_name}}</td>
    <td class="media"><img src="{{this.media_url}}" class="media" /></td>
    <td>{{this.description}}</td>
    <td>{{this.city}}</td>
    <td>{{this.status}}</td>
  </tr>
  {{/each}}
</table>
