<div id="header">
  Freaky Mustard

  <div id="searchBox"></div>
  <ul class="links">
    <li>About</li>
    <li>Service Names</li>
    <li>Open311</li>
    <li>Help</li>
  </ul>
</div>
-<div id="subnav">
</div>
<div id="sidebar">
  <div id="about">
    Open311 service requests for the morning for Wednesday, April 11, 2012
  </div>
  <div id="locationFilter"></div>
  <div class="clear"></div>
  <div id="filters"></div>
  <div class="clear"></div>
  <hr/>
  <div id="results"></div>
</div>
<div id="mapbox"></div>
