<div id="header">
  <a href="/"><img src="assets/img/311fm_logo_beta.png"></a>
  <div id="cityName"></div>
  <div id="searchBox"></div>
  <ul class="links">
    <li>About</li>
    <li><a href="http://open311.org/" target="_blank">Open311</a></li>
    <li><a href="http://dev.cityofchicago.org/" target="_blank">Open311 Documentation</a></li>
    <li><a href="http://311labs.org" target="_blank">311 Labs</a></li>
  </ul>
</div>
<div id="subnav" class="active">
</div>
<div id="sidebar">
  <div id="about">
    Tune in to Open311 service requests in your city!
  </div>
  <div id="locationFilter"></div>
  <div class="clear"></div>
  <div id="filters"></div>
  <div class="clear"></div>
  <hr/>
  <div id="results"></div>
</div>
<div id="content"></div>
