div.clear{ 
  clear:both;
  height:1px;
}

#header{ 
  height:40px;
  background:#2b77ab;
  color:#eeeeee;
  font-size:24px;
  padding:4px 10px 3px;
  box-shadow: 0px 3px 8px 1px #333;
  z-index:100;
  position:absolute;
  left:0px;
  right:0px;
  top:0px;
  z-index:101;
}
#header ul.links{ 
  float:right;
  margin:0px;
  padding:0px;
  margin-right:20px;
}
#header ul.links li{
  float:left;
  padding:10px;
  color:#fff;
  font-size:12px;
  list-style:none;
} 
#header #searchBox{ 
  float:right;
}
#header #searchBox input{
  height:20px;
  margin-top:5px;
} 
#header #searchBox .btn{
  float:right;
} 
#subnav{ 
  position:absolute;
  top:46px;
  left:-105px;
  bottom:0px;
  width:100px;
  z-index:100;
  overflow:none;
}
.btn{ 
  font-size:14px;
  background:#fb6900;
  color:#fff;
  padding:3px 5px;
  margin:6px 5px 5px 5px;
  border-radius:3px;
}
#sidebar{ 
  background:#fff;
  position:absolute;
  top:48px;
  left:0px;
  bottom:0px;
  width:315px;
  border-right:solid 2px #d2d2d2;
  z-index:100;
}
ul.nav{ 
  margin:0px;
  padding:0px 0px 0px 10px;
}
ul.nav li { 
  float:left;
  list-style:none;
  height:40px;
  text-align:center;
  padding:30px 10px 5px;
  background:#fff;
  font-size:12px;
}

#sidebar #about{ 
  font-size:14px;
  margin:20px 35px 20px 15px;
}

#sidebar h2{ 
  border-bottom:solid 2px #e2e2e2;
  font-size:14px;
  line-height:20px;
  text-transform:uppercase;
  font-weight:bold;
  padding:4px 10px;
  background:url(/assets/img/sidebar_header_background.png);
  height:19px;
  color:#21496b;
}
#sidebar h3{ 
  margin:25px 10px 5px;
  font-size:18px
  line-height:20px;
  font-weight:normal;
}

#filters ul{ 
  margin:0px 5px;
  padding:0px;
}
#filters  ul.location li{
  float:left;
  list-style:none;
  padding:3px 5px;
  background:#fb6900;
  color:#fff;
  font-size:12px;
  border-radius:3px;
  margin:5px 5px;
  font-weight:bold;
} 
#filters ul li.addLocation{
  background:#8a8686;
  color:#fff;
}
#filters ul li .close{
  color:#000;
  font-size:0.8em;
  font-weight:bold;
}
#filters .clearFilters{ 
  float:right;
  position:relative;
  top:-33px;
  left:-10px;
  font-size:12px;
  color:#fb6900;
}
#filters .controls{ 
  margin:5px 10px;
}
#filters label{ 
  font-size:12px;
  font-weight:bold;
  margin-right:15px;
}
#filters .controls .row{
  margin:10px 0px 5px;
} 

.dateSelector{ 
  width:250px;
  height:15px;
  background:#ccc;
  border-radius:5px;
  margin:auto;
}

#results .serviceRequests{ 
  background:#d7d6d6;
  color:#000;
  position:absolute;
  bottom:0px;
  left:0px;
  right:0px;
  height:300px;
}
#results .serviceRequests .sort{
  padding:10px;
  max-height:40px;
} 
#results .serviceRequests ul{
  margin:0px;
  padding:0px;
  height:220px;
  overflow:auto;
} 
#results .serviceRequests ul li{
  padding:10px 5px;
  height:55px;
  background:#f2f2f2;
  border-top:solid 1px #fff;
}
#results .serviceRequests ul li img{
  float:right;
  width:75px;
  height:75px;
  margin-top:-10px;
  margin-right:-5px;
}

#results .serviceRequests .paging{ 
  padding:10px;
  max-height:40px;
}
#results .serviceRequests .paging .prev{
  float:left;
}
#results .serviceRequests .paging .next{
  float:right;
}
#results .serviceRequests .paging .pagecount{ 
  margin:auto;
  width:85px;
}

#sidebar img.toomany{ 
  margin:17px;
}
#sidebar div.nubbin{ 
  background:url(/assets/img/nubbin.png);
  position:absolute;
  top:30px;
  right:-1px;
  width:33px;
  height:34px;
}


#mapbox{ 
  position:absolute;
  right:0px;
  bottom:0px;
  top:48px;
  left:0px;

}

#barnav{ 
  height:100%;
}
#barnav ul.nav{ 
  padding:0px;
}
#barnav ul.nav li{ 
  float:inherit;
  border-right: solid 2px orange;
  padding:30px 0px 5px 10px;
  height:40px;
}
#barnav ul li.selected{
  background:url(/assets/img/notch.png) -8px 0px;
  border:none;
} 
#barnav ul li.last{ 
  width:88px;
  height:3000px;
}