<h2>Location</h2>
<ul>
  <li class="locationFilter">Ward 47 <span class="close">X</span></li>
  <li class="locationFilter addLocation">+ add another location</li>
</ul>
<h2>Filters</h2>
<div class="clearFilters">X Clear Filters</div>
<div class="controls">
  <div class="row">
    <label>Service:</label>
    <select>
      <option>Something</option>
    </select>
  </div>
  <div class="row">
    <label>Status:</label>
    <input type="checkbox" name="open" checked="checked"/><label for="open">Open</label>
    <input type="checkbox" name="closed" checked="checked"/><label for="open">Closed</label>
  </div>
  <div class="row">
    <label>Date:</label>
    <div class="dateSelector"></div>
  </div>
</div>
