<div class="containter">
  <div class="row">
  	<div class="span9 offset1 about">
  	  <h2>ABOUT 311 FM</h2>
  	  <hr/>
  	  <p>311 FM is the place where you can tune into your service requests anytime! You can find out what’s going on in your city based on <a href="http://open311.org" target="_blank">Open311</a> service requests and view it any way you want to: on a map, in a table, just pictures, and even a compare view. We are currently in beta and would love any feedback you have so feel free to email us at <a class="mail" href="mailto:311labs@codeforamerica.org">311labs@codeforamerica.org</a>. Thanks for stopping by!</p>
  	</div>
  </div>
  <div class="row">
    <div class="span9 offset1 team">
      <h2>TEAM J.A.M.</h2>
      <hr/>
      <ul class="unstyled">
        <li>
          <ul class="unstyled jam">
            <li><img src="assets/img/jesse.jpg"></li>
            <li><h4>Jesse Bounds</h4></li>
            <li class="twitter" ><a href="https://twitter.com/boundsj" target="_blank">@boundsj</a></li>
            <li class="github" ><a href="https://github.com/boundsj" target="_blank">boundsj</a></li>
            <li class="email" ><a href="mailto:jesse@codeforamerica.org">jesse</a></li>
          </ul>
        </li>
        <li>
          <ul class="unstyled jam">
            <li><img src="assets/img/angel.jpg"></li>
            <li><h4>Angel Kittiyachavalit</h4></li>
            <li class="twitter" ><a href="https://twitter.com/angelk" target="_blank"> @angelk</a></li>
            <li class="github"><a href="https://github.com/akit" target="_blank">akit</a></li>
            <li class="email"><a href="mailto:angel@codeforamerica.org">angel</a></li>
          </ul>
        </li>
        <li>
          <ul class="unstyled jam">
            <li><img src="assets/img/mick.jpg"></li>
            <li><h4>Mick Thompson</h4></li>
            <li class="twitter" ><a href="https://twitter.com/dthompson" target="_blank">@dthompson</a></li>
            <li class="github" ><a href="https://github.com/dthompson" target="_blank">dthompson</a></li>
            <li class="email" ><a href="mailto:mick@codeforamerica.org">mick</a></li>
          </ul>
        </li>
      </ul> 
    </div> 
  </div>
</div>

