<div class="containter">
  <div class ="row">
  	<div class="span8">
  	  <h1>ABOUT</h1>
  	  <hr/>
  	  <p>311 FM is the place where you can tune into your service requests anytime! You can find out what’s going on in your city based on Open311 service requests and view it any way you want to: on a map, in a table, just pictures, and even a compare view. We are currently in beta and would love any feedback you have so feel free to email us at 311labs@codeforamerica.org. Thanks for stopping by!</p>
  	</div>
<!--   	<div class="span1">
  	  <img>
  	</div> -->
  </div>
</div>